<section class="basic-information">

    <!-- begin:: section title  -->
    <header>
        <app-section-heading [title]="'Basic Information'">
            <mat-icon icon>insert_comment</mat-icon>
        </app-section-heading>
    </header>
    <!-- end:: section title  -->

    <div class="basic-information__body py-4">
        <!-- begin:: form  -->
        <form [formGroup]="myForm" (ngSubmit)="search()" class="basic-information__form">

          
            <div class="row">

                <div class="col">
                    <pre>
                        {{myForm.value | json}}
                    </pre>
                </div>
                <!-- begin:: Warehouse -->
                <div class="col-md-6 col-lg-4">
                    <div class="mb-4 form-control-wrapper">
                        <label for="warehouse" class="form-label text-primary">Warehouse <span class="text-danger">*</span></label>
                        <ng-select
                            id="warehouse"
                            bindValue="id" 
                            bindLabel="name" 
                            [items]="warehouse" 
                            (change)="onWarehouseChange()"
                            placeholder="Select Warehouse"
                            formControlName="warehouseID"
                            >
                        </ng-select>
                        <ng-container *ngIf="controlHasError('required', null, null, 'warehouseID', null)">
                            <div class="form-text text-danger invalid-feedback"><small> Warehouse is required</small></div>
                        </ng-container>
                    </div>
                </div>
                <!-- end:: Warehouse -->

                <!-- begin:: Warehouse -->
                <div class="col-md-6 col-lg-4">
                    <div class="mb-4 form-control-wrapper">
                        <label for="type" class="form-label text-primary">Type <span class="text-danger">*</span></label>
                        <ng-select
                            id="type"
                            bindValue="id" 
                            bindLabel="name" 
                            [items]="warehouseTypes" 
                            formControlName="typeId"
                            placeholder="Select UOM Type"
                            (change)="onWarehouseTypesChange()"
                            [readonly]="!warehouseTypes.length"
                            [class.disabled]="!warehouseTypes.length"
                        >
                        </ng-select>
                        <ng-container *ngIf="controlHasError('required', null, null, 'typeId', null)">
                            <div class="form-text text-danger invalid-feedback"> <small>Type is required</small> </div>
                        </ng-container>
                    </div>
                </div>
                <!-- end:: Warehouse -->

                <!-- begin:: Show Zero Balance -->
                <div class="col-md-6 col-lg-4 d-flex align-items-center">
                    <div class="form-control-wrapper">
                        <p><mat-checkbox formControlName="showZero" class="text-primary" [color]="color">Show Zero Balance</mat-checkbox></p>
                    </div>
                </div>
                <!-- end:: Show Zero Balance -->

                <!-- begin:: Show Zero Balance -->
                <div class="col-md-6 col-lg-4">
                   
                    <div class="mb-4 form-control-wrapper">
                        <label for="warehouse" class="form-label text-primary">Product Classification</label>
                        <mat-radio-group 
                            aria-label="Select an option"
                            [disabled]="!selectedTypeID"
                            formControlName="productClassification"
                            (change)="onProductClassificationChange()"
                            class="w-100 d-flex justify-content-between"
                        >
                            <mat-radio-button  value="all" class="me-2 text-muted" [color]="color">All Product</mat-radio-button>
                            <mat-radio-button value="specific" class="text-muted" [color]="color">Specific Product</mat-radio-button>
                        </mat-radio-group>           
                    </div>
                </div>
                <!-- end:: Show Zero Balance -->

                <!-- begin:: Warehouse -->
                <ng-container *ngIf="showProductField && selectedTypeID">
                    <div class="col-md-6 col-lg-6">
                        <div class="mb-4 form-control-wrapper">
                            <label for="type" class="form-label text-primary">Product <span class="text-danger">*</span></label>
                            <ng-select
                                id="type"
                                [items]="products" 
                                bindLabel="name" 
                                bindValue="id" 
                                [multiple]="true"
                                placeholder="Select Product"
                                formControlName="selectedProductsIds"
                            >
                                <!-- [(ngModel)]="selectedCar" -->
                            </ng-select>
                            <ng-container *ngIf="controlHasError('required', null, null, 'selectedProductsIds', null)">
                                <div class="form-text text-danger invalid-feedback"><small> Product is required</small></div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <!-- end:: Warehouse -->

                <div class="col-12 text-end">
                    <button [disabled]="!myForm.valid" class="px-4" mat-raised-button [color]="'primary'">Search</button>
                </div>

            </div>
        </form>
        <!-- end:: form  -->
    </div>
</section>