<nav class="navbar">
    <div class="px-3 px-lg-5 w-100">
        <ul class="nav list-unstyled">
            <li class="nav__item" (click)="onNavigate()">
              <a routerLink="/product" class="text-center d-flex flex-column">
                <div class="nav__item__icon mb-1">
                    <img width="34" src="assets/images/navbar/product.svg" alt="Product icon">
                </div>
                <small class="nav__item__text">Product</small>
              </a>
            </li>
        </ul>
    </div>
</nav>