:host {
    // Structure Block 
    display: block;
    height: 100%;

    .home {
        // Structure Block 
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;

        img {
            // Structure Block 
            width: 250px;
        }
    }
}