main {
    // Structure Block 
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--body-bg);

    header {
        // Structure Block 
        background-color: var(--body-bg);
    }
}